.loginFormContainer{
    height: 550px;
    width: 450px;
    max-height: fit-content;
    border-radius: 15px;
}

.loginIconContainer{
    display: flex;
    justify-content: center;
    margin: 15px auto;
    height: 100px;
    width: 100px;
}

.loginIconContainer img{
    max-width: 100%;
    overflow: hidden;
    
}

.loginInputs{
    margin: 5px auto;
}

.loginButtons{
    margin: 0px auto;
}

.iconLogo{
    filter: brightness(0.2);
}

.formFooterLogin{
    display: flex;
    justify-content: space-around;
    align-items: center;
}





@media (max-width: 425px){
    .loginFormContainer{
        width: 100%;
        height: fit-content;
        margin-top: -90px;
    }

    .imgLoginContainer{
        display: none
    }

    .formFooterLogin{
        flex-direction: column;
    }
}