.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100px;
    border: solid 1px black;
}






@media (max-width: 425px){
    .titleContainer{
        width: 100%;
    }
}