.bg-icon {
  color: #0564e0;
  background-color: #6bd7f8bd;
}
.text-hour {
  font-size: 12px;
}
.text-orderstatus {
  font-size: 12px;
  background-color: #545455;
}
.order-text {
  font-size: 17px;
}
